/* ==========================================================================
   #BUTTONS
   ========================================================================== */

.btn, %btn {
	display: block;
	margin: spacing--rem(xs) 0;
	padding: spacing--rem(sxs) spacing--rem(m) !important;

	&.btn--small {
		padding: spacing--rem(xxs) spacing--rem(s);
	}

	&.btn--inline {
		display: inline-block;
		width: auto;
	}

	&.icon-right{
		i{
			padding-left: spacing--rem(xs);
		}
	}

	&.icon-left{
		i{
			padding-right: spacing--rem(xs);
		}
	}
	i{
		-webkit-transition: transform 0.3s ease-out;
		-moz-transition: transform 0.3s ease-out;
		-ms-transition: transform 0.3s ease-out;
		-o-transition: transform 0.3s ease-out;
		transition: transform 0.3s ease-out;
	}

	&:hover{
		i{
			-webkit-transform: translateX(4px);
			-moz-transform: translateX(4px);
			-ms-transform: translateX(4px);
			-o-transform: translateX(4px);
			transform: translateX(4px);
		}
		
	}
}

.btn--see-more {
	i{
		-webkit-transition: transform 0.3s ease-out;
		-moz-transition: transform 0.3s ease-out;
		-ms-transition: transform 0.3s ease-out;
		-o-transition: transform 0.3s ease-out;
		transition: transform 0.3s ease-out;
	}

	&:hover{
		i{
			-webkit-transform: translateX(4px);
			-moz-transform: translateX(4px);
			-ms-transform: translateX(4px);
			-o-transform: translateX(4px);
			transform: translateX(4px);
		}
		
	}
}