@charset "UTF-8";
/* ==========================================================================
	Tokio marine CSS
   ========================================================================== */
/* ==========================================================================
   #CONFIG
   ========================================================================== */
/**
 * A map of global config settings. Define any project-level configuration,
 * feature switches, etc. in here.
 */
/**
 * You can access data in this map using the following function:
 * s24-config(<key>)
 *
 * Example usage:
 * @if (s24-config(debug) == true) { ... }
 */
/* ==========================================================================
   #GLOBAL
   ========================================================================== */
/**
 * The global settings file contains any project-wide variables; things that
 * need to be made available to the entire codebase.
 */
/**
* Default browser font size
*/
/**
 * Font-size of the root HTML element
 * Set at 100% by default to leave as much default sizing as possible
 * Could set to 62.5% to use a base font-size of 1rem = 10px (assuming default is 16px)
 */
/**
 * Default font-size of the all element on website
 * If $html-font-size set to 62.5%, it's base font-size of 1em = 10px (assuming default is 16px)
 */
/**
 * Page-level constraining and wrapping elements.
 */
/**
 * Directory path
 */
/**
 * Global spacing unit
 */
/**
 * Horizontal Rule
 */
/**
 * Global Radius
 */
/**
 * Global Shadow
 */
/**
 * Global Animation
 */
/**
 * Table size
 */
/**
 * Media queries breakpoints
 */
/**
 * Z-index layer
 */
/* ==========================================================================
   #TYPOGRAPHY
   ========================================================================== */
/**
 * Fallback fonts
 */
/**
 * Primary fonts
 */
/**
 * Letter spacing
 */
/**
 * Heading fonts style
 */
/**
* Heading size
*/
/**
 * Base fonts style
 */
/**
 * detail font size 
 */
i.icon-post {
  font-size: 12px;
  font-weight: 400;
  padding-right: 5px;
}

label.tag {
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 10px;
}

label.samll {
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 10px;
}

label.detail {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 10px;
}

label.detail-blog {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 10px;
}

label.icon-social, a.icon-social {
  font-size: 18px;
  font-weight: 400;
}
label.icon-social i, a.icon-social i {
  padding-left: 15px;
}

/**
 * Table fonts style
 */
/* ==========================================================================
   #COLOR PALETTE
   ========================================================================== */
/**
 * Color palette
 */
/**
 * Type color palette
 */
/**
 * Social color
 */
.keen-slider {
  display: flex;
  overflow: hidden;
  position: relative;
  -webkit-user-select: none;
          user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}
.keen-slider__slide {
  position: relative;
  overflow: hidden;
  width: 100%;
  min-height: 100%;
}
.keen-slider[data-keen-slider-v] {
  flex-wrap: wrap;
}
.keen-slider[data-keen-slider-v] .keen-slider__slide {
  width: 100%;
}
.keen-slider[data-keen-slider-moves] * {
  pointer-events: none;
}

/* ==========================================================================
   #FUNCTIONS
   ========================================================================== */
/**
 * Palette color variants
 *
 * https://scotch.io/tutorials/aesthetic-sass-2-colors
 */
/**
 * Type state color
 */
/**
 * Chip color
 */
/**
 * Slightly lighten a color
 */
/**
 * Slightly darken a color
 */
/**
 * Z-index
 * Control z-index of each object layer
 *
 * Example usage:
 * .site-header {
 * 		z-index: z(site-header);
 * }
 */
/**
 * px to em function 
 *
 * Example usage:
 * h1 {
 * 		font-size: em(30px);
 * }
 */
/**
 * px to rem function 
 *
 * Example usage:
 * h1 {
 * 		font-size: rem(30px);
 * }
 */
/**
 * em spacing unit
 *
 * Example usage:
 * h1 {
 * 		margin: em-spacing(m);
 * }
 */
/**
 * rem spacing unit
 *
 * Example usage:
 * h1 {
 * 		margin: rem-spacing(m);
 * }
 */
/**
 * Heading font size to em
 *
 * Example usage:
 * h1 {
 * 		font-size: heading-size(h1);
 * }
 */
/**
 * Table size
 */
/* ==========================================================================
   #MIXINS
   ========================================================================== */
/**
 * Setting style of a font
 */
/**
 * Convert font size to rem
 * 1. Fallback to px for IE < 9
 */
/**
 * Input placeholder color
 */
/**
 * Selection text color
 */
/**
 * Media queries
 *
 * Example usage:
 * .class {
 * 		@include mq('tablet-wide') {
 *			...
 *		}
 * }
 */
/**
 * Pseudo ::before and ::after
 *
 * Example usage:
 * div::after {
 * 		@include pseudo;
 *		...
 * }
 */
/**
 * Replace text with image
 */
/**
 * Replace text with icon
 */
/**
 * Replace logo
 */
/**
 * Block sizing
 */
/**
 * Resize image background with ratio
 */
/**
 * Make thing circle
 */
/**
 * Truncate
 */
/**
 * Responsive ratio
 *
 * Example usage:
 * div {
 * 		@include responsive-ratio(16, 9);
 * }
 */
/**
 * Add/Remove margins
 */
/**
 * Mixin to drop micro clearfix into a selector. Further reading:
 * http://www.cssmojo.com/the-very-latest-clearfix-reloaded/
 */
/* ==========================================================================
   #HIDDEN
   ========================================================================== */
/**
 * Hidden & Visible
 */
/* ==========================================================================
   #COLOR
   ========================================================================== */
/**
 * Global Color
 */
/**
 * Heading color
 */
/**
 * Base (body) color
 */
/**
 * Link color
 */
/**
 * Table color
 */
/**
 * Form color
 */
/**
 * Placeholder color
 */
/**
 * Button color
 */
/**
 * Selection background color
 */
/**
 * Outline ring color
 */
/**
 * Blockquote color
 */
/**
 * Mark color
 */
/**
 * Horizontal Rule color
 */
/* ==========================================================================
   #BOX-SIZING
   ========================================================================== */
/**
 * More sensible default box-sizing:
 * css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice
 */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: border-box;
}

/* ==========================================================================
  #NORMALIZE
  ========================================================================== */
/* Docume
========================================================================== */
/**
 *  normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css
 */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

/* ==========================================================================
   #RESET
   ========================================================================== */
/**
 * Full height on root parent
 */
html, body {
  height: 100%;
}

/**
 * A very simple reset that sits on top of Normalize.css.
 */
body,
h1, h2, h3, h4, h5, h6,
blockquote, p, pre,
dl, dd, ol, ul,
figure,
hr,
fieldset, legend,
input, select, textarea, button {
  margin: 0;
  padding: 0;
}

/**
 * Remove trailing margins from nested lists.
 */
li > ol,
li > ul {
  margin-bottom: 0;
}

/**
 * Remove default table spacing.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/**
 * 1. Reset Chrome and Firefox behaviour which sets a `min-width: min-content;`
 *    on fieldsets.
 */
fieldset {
  min-width: 0;
  /* [1] */
  border: none;
}

input,
select,
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-clip: border-box;
  border-radius: 0;
  outline: 0;
  text-align: left;
  vertical-align: top;
  width: 100%;
}
input:focus,
select:focus,
textarea:focus {
  outline: none;
}

input[type=checkbox],
input[type=radio] {
  width: auto;
  height: auto;
}

input[type=checkbox] {
  -webkit-appearance: checkbox;
     -moz-appearance: checkbox;
          appearance: checkbox;
}

input[type=radio] {
  -webkit-appearance: radio;
     -moz-appearance: radio;
          appearance: radio;
}

textarea,
select[size],
select[multiple] {
  height: auto;
}

[type=checkbox],
[type=radio] {
  display: inline-block;
  overflow: hidden;
  vertical-align: middle;
}

select::-ms-expand {
  display: none;
}

select:focus::-ms-value {
  background-color: transparent;
  color: inherit;
}

select {
  -webkit-appearance: none;
}

textarea {
  resize: vertical;
}

input[type=search]::-webkit-search-decoration {
  display: none;
}

button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: none;
  border: none;
  border-radius: 0;
  cursor: pointer;
  outline: 0;
  overflow: visible;
  text-align: center;
  vertical-align: middle;
  width: auto;
}
button:focus {
  outline: none;
}

[disabled],
[disabled] * {
  box-shadow: none;
  cursor: not-allowed;
  -webkit-user-select: none;
          user-select: none;
}

/* ==========================================================================
   #SHARED
   ========================================================================== */
/**
 * Shared declarations for certain elements
 */
/**
 * Always declare margins in the same direction:
 * csswizardry.com/2012/06/single-direction-margin-declarations
 */
address,
h1, h2, h3, h4, h5, h6,
blockquote, p, pre,
dl, dd, ol, ul,
figure,
hr,
table,
fieldset, legend,
input, select, textarea {
  font-size: 1em;
  margin-bottom: 1.875rem;
}

/**
 * Consistent indentation for lists
 */
dl,
ol, ul {
  margin-left: 1.875rem;
}

/**
 * Font size for other elements
 */
dt, dd,
li,
th, td, button {
  font-size: 1em;
}

/**
 * Remove margin bottom
 */
[type=checkbox],
[type=radio] {
  margin-bottom: 0;
}

/**
 * Selection background color
 */
* ::selection {
  background-color: #0078f1;
}

/**
 * Selection background color
 */
*:focus {
  outline: 1px dotted #0078f1;
}

/* ==========================================================================
   #DOCUMENT
   ========================================================================== */
/**
 * Set basic document styling
 */
html {
  font-size: 62.5%;
  min-height: 100%;
  overflow-y: scroll;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
  text-rendering: optimizeLegibility;
}

body {
  font-family: "Mitr", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, "Noto Sans", sans-serif;
  font-size: 1.6em;
  font-weight: 400;
  color: #495057;
  line-height: 1.8;
  background-color: white;
  letter-spacing: 0;
  color: #495057;
}

a {
  cursor: pointer;
}

@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}
/* ==========================================================================
   #PAGE
   ========================================================================== */
/**
 * Set basic document styling
 */
b, strong {
  font-weight: 600;
}

small {
  font-size: 80%;
}

big {
  font-size: 120%;
}

mark {
  background-color: #00458b;
  color: #fff;
}

/* ==========================================================================
   #HEADINGS
   ========================================================================== */
/**
 * Set default headings 1 through 6 styling
 */
h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.75rem;
}

h3 {
  font-size: 1.625rem;
}

h4 {
  font-size: 1.375rem;
}

/**
 * Heading font size 
 */
/* ==========================================================================
   #LINKS
   ========================================================================== */
/**
 * Set basic links styling
 */
a {
  color: #00458b;
  text-decoration: none;
}
a:hover {
  color: #003367;
  text-decoration: none;
}

/* ==========================================================================
   #LISTS
   ========================================================================== */
/**
 * Set basic lists styling
 */
ul ul, ul ol, ol ul, ol ol {
  margin-top: 2.5rem;
}

dt {
  font-weight: 600;
}

/* ==========================================================================
   #HR
   ========================================================================== */
/**
 * Horizontal Rule
 */
hr {
  margin-left: auto;
  margin-right: auto;
  background-color: #dde2e5;
  border: none;
  display: block;
  height: 1px;
  width: 100%;
}

/* ==========================================================================
   #MEDIA
   ========================================================================== */
/**
 * Figure, Self-contained content with support for a caption
 *
 * Example usage:
 * <figure>
 *		<picture>
 *			<source srcset="https://via.placeholder.com/1200x600" media="(min-width: 1024px)">
 *			<img src="//placehold.it/1600x900" alt="Always specify alt text">
 *		</picture>
 *		<figcaption>Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet</figcaption>
 *	</figure>
 */
figure {
  margin-bottom: 0;
}
figure img {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

figcaption {
  margin-left: auto;
  margin-right: auto;
  font-style: italic;
  max-width: 60%;
  padding: 1.25rem;
  text-align: center;
}

/**
 * 1. Fluid images for responsive purposes
 * 2. Offset `alt` text from surrounding copy
 * 3. Setting `vertical-align` removes the whitespace that appears under `img`
 * elements when they are dropped into a page as-is. Safer alternative to using `display: block;`
 */
img {
  font-style: italic;
  /* [2] */
  max-width: 100%;
  /* [1] */
  vertical-align: middle;
  /* [3] */
}

/**
 * 1. If a `width` and/or `height` attribute have been explicitly defined, let’s
 * not make the image fluid.
 */
img[width],
img[height] {
  max-width: none;
}

/* ==========================================================================
   #TABLES
   ========================================================================== */
/**
 * Set basic style of table
 *
 * Example usage:
 *		<table>
 *			<caption> ... </caption>
 *			<thead>
 *				<tr>
 *					<th> ... </th>
 *				</tr>
 *			</thead>
 *			<tbody>
 *				<tr>
 *					<td> ... </td>
 *				</tr>
 *			</tbody>
 *			<tfoot>
 *				<tr>
 *					<td> ... </td>
 *				</tr>
 *			</tfoot>
 *		</table>
 */
table {
  border: 1px solid #dde2e5;
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 1em;
  line-height: 1.6;
  font-weight: 400;
  width: 100%;
}
table caption {
  font-style: italic;
  margin-bottom: 1.25rem;
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  overflow: hidden;
  margin: -1px;
  padding: 0;
  position: absolute;
  white-space: nowrap;
}

th,
td {
  border: 1px solid #dde2e5;
  padding: 1.25rem;
  vertical-align: top;
}

th {
  font-weight: 600;
  text-align: left;
}

thead th {
  border-bottom-width: 2px;
}

tfoot td {
  font-weight: 600;
}

.table-striped tbody tr:nth-child(odd) {
  background-color: #f8f9fa;
}
.table-striped tbody tr:nth-child(even) {
  background-color: #ffffff;
}

/* ==========================================================================
   #BLOCKQUOTE
   ========================================================================== */
/**
 * Blockquote with support for citation
 *
 * Example usage:
 * <blockquote>
 *		<p> ... </p>
 *		<cite> ... </cite>
 *</blockquote>
 */
blockquote {
  background-color: #acb5bd;
  color: #212429;
  quotes: "“" "”" "‘" "’";
  font-style: italic;
  padding: 2.5rem;
}
blockquote p {
  margin-top: 2.5rem;
  margin-bottom: 0;
}
blockquote p:first-child {
  margin-top: 0;
}
blockquote p:first-child::before {
  content: open-quote;
}
blockquote p:last-of-type::after {
  content: close-quote;
}
blockquote cite {
  display: inline-block;
  font-weight: 300;
  margin-top: 2.5rem;
  margin-left: 1.25rem;
}
blockquote cite::before {
  content: "–";
  display: block;
  position: absolute;
  margin-left: -1.25rem;
}

/* ==========================================================================
   #FORMS
   ========================================================================== */
.field {
  display: flex;
  align-items: center;
}

legend {
  font-weight: 600;
}

label {
  display: block;
  margin-bottom: 0.625rem;
}

input.placeholder,
textarea.placeholder {
  color: black;
}
input:-moz-placeholder,
textarea:-moz-placeholder {
  color: black;
}
input::-moz-placeholder,
textarea::-moz-placeholder {
  color: black;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: black;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: black;
}

input,
textarea,
select {
  background-color: #fff;
  border: 1px solid #dde2e5;
  border-radius: 10px;
  color: #495057;
  padding: 1.25rem;
}

[type=checkbox],
[type=radio] {
  display: inline-block;
  margin-top: -6px;
  margin-right: 1.25rem;
}

abbr[title] {
  text-decoration: none;
}

/* ==========================================================================
   #BUTTONS
   ========================================================================== */
button {
  border: 1px solid #dde2e5;
  border-radius: 10px;
  color: #495057;
  display: inline-block;
  padding: 1.25rem;
}

/* ==========================================================================
   #BUTTONS
   ========================================================================== */
.btn, .btn--see-more, .btn--danger-outline, .btn--danger, .btn--warning-outline, .btn--warning, .btn--success-outline, .btn--success, .btn--info-outline, .btn--info, .btn--secondary-outline, .btn--secondary, .btn--primary-outline, .btn--primary {
  display: block;
  margin: 0.625rem 0;
  padding: 0.9375rem 2.5rem !important;
}
.btn.btn--small, .btn--small.btn--see-more, .btn--small.btn--danger-outline, .btn--small.btn--danger, .btn--small.btn--warning-outline, .btn--small.btn--warning, .btn--small.btn--success-outline, .btn--small.btn--success, .btn--small.btn--info-outline, .btn--small.btn--info, .btn--small.btn--secondary-outline, .btn--small.btn--secondary, .btn--small.btn--primary-outline, .btn--small.btn--primary {
  padding: 0.3125rem 1.25rem;
}
.btn.btn--inline, .btn--inline.btn--see-more, .btn--inline.btn--danger-outline, .btn--inline.btn--danger, .btn--inline.btn--warning-outline, .btn--inline.btn--warning, .btn--inline.btn--success-outline, .btn--inline.btn--success, .btn--inline.btn--info-outline, .btn--inline.btn--info, .btn--inline.btn--secondary-outline, .btn--inline.btn--secondary, .btn--inline.btn--primary-outline, .btn--inline.btn--primary {
  display: inline-block;
  width: auto;
}
.btn.icon-right i, .icon-right.btn--see-more i, .icon-right.btn--danger-outline i, .icon-right.btn--danger i, .icon-right.btn--warning-outline i, .icon-right.btn--warning i, .icon-right.btn--success-outline i, .icon-right.btn--success i, .icon-right.btn--info-outline i, .icon-right.btn--info i, .icon-right.btn--secondary-outline i, .icon-right.btn--secondary i, .icon-right.btn--primary-outline i, .icon-right.btn--primary i {
  padding-left: 0.625rem;
}
.btn.icon-left i, .icon-left.btn--see-more i, .icon-left.btn--danger-outline i, .icon-left.btn--danger i, .icon-left.btn--warning-outline i, .icon-left.btn--warning i, .icon-left.btn--success-outline i, .icon-left.btn--success i, .icon-left.btn--info-outline i, .icon-left.btn--info i, .icon-left.btn--secondary-outline i, .icon-left.btn--secondary i, .icon-left.btn--primary-outline i, .icon-left.btn--primary i {
  padding-right: 0.625rem;
}
.btn i, .btn--see-more i, .btn--danger-outline i, .btn--danger i, .btn--warning-outline i, .btn--warning i, .btn--success-outline i, .btn--success i, .btn--info-outline i, .btn--info i, .btn--secondary-outline i, .btn--secondary i, .btn--primary-outline i, .btn--primary i {
  transition: transform 0.3s ease-out;
}
.btn:hover i, .btn--see-more:hover i, .btn--danger-outline:hover i, .btn--danger:hover i, .btn--warning-outline:hover i, .btn--warning:hover i, .btn--success-outline:hover i, .btn--success:hover i, .btn--info-outline:hover i, .btn--info:hover i, .btn--secondary-outline:hover i, .btn--secondary:hover i, .btn--primary-outline:hover i, .btn--primary:hover i {
  transform: translateX(4px);
}

.btn--see-more i {
  transition: transform 0.3s ease-out;
}
.btn--see-more:hover i {
  transform: translateX(4px);
}

.container-fluid,
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
}

.container-post {
  width: 100%;
}
@media (min-width: 992px) {
  .container-post {
    max-width: 890px;
  }
}

.container-fluid {
  padding-right: 2rem;
  padding-left: 2rem;
}

.row {
  box-sizing: border-box;
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
  margin-right: -0.5rem;
  margin-left: -0.5rem;
}

.row.reverse {
  flex-direction: row-reverse;
}

.col.reverse {
  flex-direction: column-reverse;
}

.col-xs,
.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-3-5,
.col-xs-4,
.col-xs-5,
.col-xs-5-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-8-5,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-offset-0,
.col-xs-offset-1,
.col-xs-offset-2,
.col-xs-offset-3,
.col-xs-offset-4,
.col-xs-offset-5,
.col-xs-offset-6,
.col-xs-offset-7,
.col-xs-offset-8,
.col-xs-offset-9,
.col-xs-offset-10,
.col-xs-offset-11,
.col-xs-offset-12 {
  box-sizing: border-box;
  flex: 0 0 auto;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

.col-xs {
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
}

.col-xs-1 {
  flex-basis: 8.33333333%;
  max-width: 8.33333333%;
}

.col-xs-2 {
  flex-basis: 16.66666667%;
  max-width: 16.66666667%;
}

.col-xs-3 {
  flex-basis: 25%;
  max-width: 25%;
}

.col-xs-3-5 {
  flex-basis: 30.33333333%;
  max-width: 30.33333333%;
}

.col-xs-4 {
  flex-basis: 33.33333333%;
  max-width: 33.33333333%;
}

.col-xs-5 {
  flex-basis: 41.66666667%;
  max-width: 41.66666667%;
}

.col-xs-5-5 {
  flex-basis: 45.66666667%;
  max-width: 45.66666667%;
}

.col-xs-6 {
  flex-basis: 50%;
  max-width: 50%;
}

.col-xs-7 {
  flex-basis: 58.33333333%;
  max-width: 58.33333333%;
}

.col-xs-8 {
  flex-basis: 66.66666667%;
  max-width: 66.66666667%;
}

.col-xs-8-5 {
  flex-basis: 71.66666667%;
  max-width: 71.66666667%;
}

.col-xs-9 {
  flex-basis: 75%;
  max-width: 75%;
}

.col-xs-10 {
  flex-basis: 83.33333333%;
  max-width: 83.33333333%;
}

.col-xs-11 {
  flex-basis: 91.66666667%;
  max-width: 91.66666667%;
}

.col-xs-12 {
  flex-basis: 100%;
  max-width: 100%;
}

.col-xs-offset-0 {
  margin-left: 0;
}

.col-xs-offset-1 {
  margin-left: 8.33333333%;
}

.col-xs-offset-2 {
  margin-left: 16.66666667%;
}

.col-xs-offset-3 {
  margin-left: 25%;
}

.col-xs-offset-4 {
  margin-left: 33.33333333%;
}

.col-xs-offset-5 {
  margin-left: 41.66666667%;
}

.col-xs-offset-6 {
  margin-left: 50%;
}

.col-xs-offset-7 {
  margin-left: 58.33333333%;
}

.col-xs-offset-8 {
  margin-left: 66.66666667%;
}

.col-xs-offset-9 {
  margin-left: 75%;
}

.col-xs-offset-10 {
  margin-left: 83.33333333%;
}

.col-xs-offset-11 {
  margin-left: 91.66666667%;
}

.start-xs {
  justify-content: flex-start;
  text-align: start;
}

.center-xs {
  justify-content: center;
  text-align: center;
}

.end-xs {
  justify-content: flex-end;
  text-align: end;
}

.top-xs {
  align-items: flex-start;
}

.middle-xs {
  align-items: center;
}

.bottom-xs {
  align-items: flex-end;
}

.around-xs {
  justify-content: space-around;
}

.between-xs {
  justify-content: space-between;
}

.first-xs {
  order: -1;
}

.last-xs {
  order: 1;
}

@media only screen and (min-width: 48em) {
  .container {
    width: 49rem;
  }

  .col-sm,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-3-5,
.col-sm-4,
.col-sm-5,
.col-sm-5-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-8-5,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-offset-0,
.col-sm-offset-1,
.col-sm-offset-2,
.col-sm-offset-3,
.col-sm-offset-4,
.col-sm-offset-5,
.col-sm-offset-6,
.col-sm-offset-7,
.col-sm-offset-8,
.col-sm-offset-9,
.col-sm-offset-10,
.col-sm-offset-11,
.col-sm-offset-12 {
    box-sizing: border-box;
    flex: 0 0 auto;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }

  .col-sm {
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
  }

  .col-sm-1 {
    flex-basis: 8.33333333%;
    max-width: 8.33333333%;
  }

  .col-sm-2 {
    flex-basis: 16.66666667%;
    max-width: 16.66666667%;
  }

  .col-sm-3 {
    flex-basis: 25%;
    max-width: 25%;
  }

  .col-sm-3-5 {
    flex-basis: 30.33333333%;
    max-width: 30.33333333%;
  }

  .col-sm-4 {
    flex-basis: 33.33333333%;
    max-width: 33.33333333%;
  }

  .col-sm-5 {
    flex-basis: 41.66666667%;
    max-width: 41.66666667%;
  }

  .col-sm-5-5 {
    flex-basis: 45.66666667%;
    max-width: 45.66666667%;
  }

  .col-sm-6 {
    flex-basis: 50%;
    max-width: 50%;
  }

  .col-sm-7 {
    flex-basis: 58.33333333%;
    max-width: 58.33333333%;
  }

  .col-sm-8 {
    flex-basis: 66.66666667%;
    max-width: 66.66666667%;
  }

  .col-sm-8-5 {
    flex-basis: 71.66666667%;
    max-width: 71.66666667%;
  }

  .col-sm-9 {
    flex-basis: 75%;
    max-width: 75%;
  }

  .col-sm-10 {
    flex-basis: 83.33333333%;
    max-width: 83.33333333%;
  }

  .col-sm-11 {
    flex-basis: 91.66666667%;
    max-width: 91.66666667%;
  }

  .col-sm-12 {
    flex-basis: 100%;
    max-width: 100%;
  }

  .col-sm-offset-0 {
    margin-left: 0;
  }

  .col-sm-offset-1 {
    margin-left: 8.33333333%;
  }

  .col-sm-offset-2 {
    margin-left: 16.66666667%;
  }

  .col-sm-offset-3 {
    margin-left: 25%;
  }

  .col-sm-offset-4 {
    margin-left: 33.33333333%;
  }

  .col-sm-offset-5 {
    margin-left: 41.66666667%;
  }

  .col-sm-offset-6 {
    margin-left: 50%;
  }

  .col-sm-offset-7 {
    margin-left: 58.33333333%;
  }

  .col-sm-offset-8 {
    margin-left: 66.66666667%;
  }

  .col-sm-offset-9 {
    margin-left: 75%;
  }

  .col-sm-offset-10 {
    margin-left: 83.33333333%;
  }

  .col-sm-offset-11 {
    margin-left: 91.66666667%;
  }

  .start-sm {
    justify-content: flex-start;
    text-align: start;
  }

  .center-sm {
    justify-content: center;
    text-align: center;
  }

  .end-sm {
    justify-content: flex-end;
    text-align: end;
  }

  .top-sm {
    align-items: flex-start;
  }

  .middle-sm {
    align-items: center;
  }

  .bottom-sm {
    align-items: flex-end;
  }

  .around-sm {
    justify-content: space-around;
  }

  .between-sm {
    justify-content: space-between;
  }

  .first-sm {
    order: -1;
  }

  .last-sm {
    order: 1;
  }
}
@media only screen and (min-width: 64em) {
  .container {
    width: 65rem;
  }

  .col-md,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-3-5,
.col-md-4,
.col-md-5,
.col-md-5-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-8-5,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-offset-0,
.col-md-offset-1,
.col-md-offset-2,
.col-md-offset-3,
.col-md-offset-4,
.col-md-offset-5,
.col-md-offset-6,
.col-md-offset-7,
.col-md-offset-8,
.col-md-offset-9,
.col-md-offset-10,
.col-md-offset-11,
.col-md-offset-12 {
    box-sizing: border-box;
    flex: 0 0 auto;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }

  .col-md {
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
  }

  .col-md-1 {
    flex-basis: 8.33333333%;
    max-width: 8.33333333%;
  }

  .col-md-2 {
    flex-basis: 16.66666667%;
    max-width: 16.66666667%;
  }

  .col-md-3 {
    flex-basis: 25%;
    max-width: 25%;
  }

  .col-md-3-5 {
    flex-basis: 30.33333333%;
    max-width: 30.33333333%;
  }

  .col-md-4 {
    flex-basis: 33.33333333%;
    max-width: 33.33333333%;
  }

  .col-md-5 {
    flex-basis: 41.66666667%;
    max-width: 41.66666667%;
  }

  .col-md-5-5 {
    flex-basis: 45.66666667%;
    max-width: 45.66666667%;
  }

  .col-md-6 {
    flex-basis: 50%;
    max-width: 50%;
  }

  .col-md-7 {
    flex-basis: 58.33333333%;
    max-width: 58.33333333%;
  }

  .col-md-8 {
    flex-basis: 66.66666667%;
    max-width: 66.66666667%;
  }

  .col-md-8-5 {
    flex-basis: 71.66666667%;
    max-width: 71.66666667%;
  }

  .col-md-9 {
    flex-basis: 75%;
    max-width: 75%;
  }

  .col-md-10 {
    flex-basis: 83.33333333%;
    max-width: 83.33333333%;
  }

  .col-md-11 {
    flex-basis: 91.66666667%;
    max-width: 91.66666667%;
  }

  .col-md-12 {
    flex-basis: 100%;
    max-width: 100%;
  }

  .col-md-offset-0 {
    margin-left: 0;
  }

  .col-md-offset-1 {
    margin-left: 8.33333333%;
  }

  .col-md-offset-2 {
    margin-left: 16.66666667%;
  }

  .col-md-offset-3 {
    margin-left: 25%;
  }

  .col-md-offset-4 {
    margin-left: 33.33333333%;
  }

  .col-md-offset-5 {
    margin-left: 41.66666667%;
  }

  .col-md-offset-6 {
    margin-left: 50%;
  }

  .col-md-offset-7 {
    margin-left: 58.33333333%;
  }

  .col-md-offset-8 {
    margin-left: 66.66666667%;
  }

  .col-md-offset-9 {
    margin-left: 75%;
  }

  .col-md-offset-10 {
    margin-left: 83.33333333%;
  }

  .col-md-offset-11 {
    margin-left: 91.66666667%;
  }

  .start-md {
    justify-content: flex-start;
    text-align: start;
  }

  .center-md {
    justify-content: center;
    text-align: center;
  }

  .end-md {
    justify-content: flex-end;
    text-align: end;
  }

  .top-md {
    align-items: flex-start;
  }

  .middle-md {
    align-items: center;
  }

  .bottom-md {
    align-items: flex-end;
  }

  .around-md {
    justify-content: space-around;
  }

  .between-md {
    justify-content: space-between;
  }

  .first-md {
    order: -1;
  }

  .last-md {
    order: 1;
  }
}
@media only screen and (min-width: 75em) {
  .container {
    width: 76rem;
  }

  .col-lg,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-3-5,
.col-lg-4,
.col-lg-5,
.col-lg-5-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-8-5,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-offset-0,
.col-lg-offset-1,
.col-lg-offset-2,
.col-lg-offset-3,
.col-lg-offset-4,
.col-lg-offset-5,
.col-lg-offset-6,
.col-lg-offset-7,
.col-lg-offset-8,
.col-lg-offset-9,
.col-lg-offset-10,
.col-lg-offset-11,
.col-lg-offset-12 {
    box-sizing: border-box;
    flex: 0 0 auto;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }

  .col-lg {
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
  }

  .col-lg-1 {
    flex-basis: 8.33333333%;
    max-width: 8.33333333%;
  }

  .col-lg-2 {
    flex-basis: 16.66666667%;
    max-width: 16.66666667%;
  }

  .col-lg-3 {
    flex-basis: 25%;
    max-width: 25%;
  }

  .col-lg-3-5 {
    flex-basis: 30.33333333%;
    max-width: 30.33333333%;
  }

  .col-lg-4 {
    flex-basis: 33.33333333%;
    max-width: 33.33333333%;
  }

  .col-lg-5 {
    flex-basis: 41.66666667%;
    max-width: 41.66666667%;
  }

  .col-lg-5-5 {
    flex-basis: 45.66666667%;
    max-width: 45.66666667%;
  }

  .col-lg-6 {
    flex-basis: 50%;
    max-width: 50%;
  }

  .col-lg-7 {
    flex-basis: 58.33333333%;
    max-width: 58.33333333%;
  }

  .col-lg-8 {
    flex-basis: 66.66666667%;
    max-width: 66.66666667%;
  }

  .col-lg-8-5 {
    flex-basis: 71.66666667%;
    max-width: 71.66666667%;
  }

  .col-lg-9 {
    flex-basis: 75%;
    max-width: 75%;
  }

  .col-lg-10 {
    flex-basis: 83.33333333%;
    max-width: 83.33333333%;
  }

  .col-lg-11 {
    flex-basis: 91.66666667%;
    max-width: 91.66666667%;
  }

  .col-lg-12 {
    flex-basis: 100%;
    max-width: 100%;
  }

  .col-lg-offset-0 {
    margin-left: 0;
  }

  .col-lg-offset-1 {
    margin-left: 8.33333333%;
  }

  .col-lg-offset-2 {
    margin-left: 16.66666667%;
  }

  .col-lg-offset-3 {
    margin-left: 25%;
  }

  .col-lg-offset-4 {
    margin-left: 33.33333333%;
  }

  .col-lg-offset-5 {
    margin-left: 41.66666667%;
  }

  .col-lg-offset-6 {
    margin-left: 50%;
  }

  .col-lg-offset-7 {
    margin-left: 58.33333333%;
  }

  .col-lg-offset-8 {
    margin-left: 66.66666667%;
  }

  .col-lg-offset-9 {
    margin-left: 75%;
  }

  .col-lg-offset-10 {
    margin-left: 83.33333333%;
  }

  .col-lg-offset-11 {
    margin-left: 91.66666667%;
  }

  .start-lg {
    justify-content: flex-start;
    text-align: start;
  }

  .center-lg {
    justify-content: center;
    text-align: center;
  }

  .end-lg {
    justify-content: flex-end;
    text-align: end;
  }

  .top-lg {
    align-items: flex-start;
  }

  .middle-lg {
    align-items: center;
  }

  .bottom-lg {
    align-items: flex-end;
  }

  .around-lg {
    justify-content: space-around;
  }

  .between-lg {
    justify-content: space-between;
  }

  .first-lg {
    order: -1;
  }

  .last-lg {
    order: 1;
  }
}
/* ==========================================================================
   #BUTTONS
   ========================================================================== */
.btn, .btn--see-more, .btn--danger-outline, .btn--danger, .btn--warning-outline, .btn--warning, .btn--success-outline, .btn--success, .btn--info-outline, .btn--info, .btn--secondary-outline, .btn--secondary, .btn--primary-outline, .btn--primary {
  background-color: #00458B;
  font-family: "ibm-plex-thai", sans-serif;
  border: none;
  border-radius: 0 !important;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 1.6;
  text-align: center;
}

.btn:hover, .btn:focus {
  background-color: #80a2c5;
}
.btn.btn--small {
  font-size: 0.8em;
  font-weight: 500;
}
.btn > [class^=fa-] {
  font-size: 1.1em;
}
.btn:disabled {
  background-color: #00458B;
  color: #fff;
  opacity: 0.3;
}

.btn--primary {
  background-color: #00458B !important;
  color: #fff !important;
  transition: all 0.3s;
}
.btn--primary:hover, .btn--primary:focus {
  background-color: #4d7dae !important;
  color: #fff;
}
.btn--primary:disabled {
  background-color: #00458B !important;
  opacity: 0.4 !important;
}
.btn--primary-outline {
  background-color: transparent !important;
  box-shadow: none !important;
  color: #00458B !important;
  border: 1px solid #00458B !important;
  transition: all 0.3s;
}
.btn--primary-outline i {
  color: #00458B !important;
}
.btn--primary-outline:hover, .btn--primary-outline:focus {
  background-color: #00458B !important;
  color: #fff !important;
}
.btn--primary-outline:hover > i, .btn--primary-outline:focus > i {
  color: #fff !important;
}
.btn--primary-outline:disabled {
  background-color: #fff !important;
  border-color: #4d7dae !important;
  color: #4d7dae !important;
}

.btn--secondary {
  background-color: #42b983 !important;
  color: #fff !important;
  transition: all 0.3s;
}
.btn--secondary:hover, .btn--secondary:focus {
  background-color: #7bcea8 !important;
  color: #fff;
}
.btn--secondary:disabled {
  background-color: #00458B !important;
  opacity: 0.4 !important;
}
.btn--secondary-outline {
  background-color: transparent !important;
  box-shadow: none !important;
  color: #42b983 !important;
  border: 1px solid #42b983 !important;
  transition: all 0.3s;
}
.btn--secondary-outline i {
  color: #42b983 !important;
}
.btn--secondary-outline:hover, .btn--secondary-outline:focus {
  background-color: #42b983 !important;
  color: #fff !important;
}
.btn--secondary-outline:hover > i, .btn--secondary-outline:focus > i {
  color: #fff !important;
}
.btn--secondary-outline:disabled {
  background-color: #fff !important;
  border-color: #7bcea8 !important;
  color: #7bcea8 !important;
}

.btn--info {
  background-color: #008fe8 !important;
  color: #fff !important;
  transition: all 0.3s;
}
.btn--info:hover, .btn--info:focus {
  background-color: #4db1ef !important;
  color: #fff;
}
.btn--info:disabled {
  background-color: #00458B !important;
  opacity: 0.4 !important;
}
.btn--info-outline {
  background-color: transparent !important;
  box-shadow: none !important;
  color: #008fe8 !important;
  border: 1px solid #008fe8 !important;
  transition: all 0.3s;
}
.btn--info-outline i {
  color: #008fe8 !important;
}
.btn--info-outline:hover, .btn--info-outline:focus {
  background-color: #008fe8 !important;
  color: #fff !important;
}
.btn--info-outline:hover > i, .btn--info-outline:focus > i {
  color: #fff !important;
}
.btn--info-outline:disabled {
  background-color: #fff !important;
  border-color: #4db1ef !important;
  color: #4db1ef !important;
}

.btn--success {
  background-color: #00c97b !important;
  color: #fff !important;
  transition: all 0.3s;
}
.btn--success:hover, .btn--success:focus {
  background-color: #4dd9a3 !important;
  color: #fff;
}
.btn--success:disabled {
  background-color: #00458B !important;
  opacity: 0.4 !important;
}
.btn--success-outline {
  background-color: transparent !important;
  box-shadow: none !important;
  color: #00c97b !important;
  border: 1px solid #00c97b !important;
  transition: all 0.3s;
}
.btn--success-outline i {
  color: #00c97b !important;
}
.btn--success-outline:hover, .btn--success-outline:focus {
  background-color: #00c97b !important;
  color: #fff !important;
}
.btn--success-outline:hover > i, .btn--success-outline:focus > i {
  color: #fff !important;
}
.btn--success-outline:disabled {
  background-color: #fff !important;
  border-color: #4dd9a3 !important;
  color: #4dd9a3 !important;
}

.btn--warning {
  background-color: #ff8605 !important;
  color: #fff !important;
  transition: all 0.3s;
}
.btn--warning:hover, .btn--warning:focus {
  background-color: #ffaa50 !important;
  color: #fff;
}
.btn--warning:disabled {
  background-color: #00458B !important;
  opacity: 0.4 !important;
}
.btn--warning-outline {
  background-color: transparent !important;
  box-shadow: none !important;
  color: #ff8605 !important;
  border: 1px solid #ff8605 !important;
  transition: all 0.3s;
}
.btn--warning-outline i {
  color: #ff8605 !important;
}
.btn--warning-outline:hover, .btn--warning-outline:focus {
  background-color: #ff8605 !important;
  color: #fff !important;
}
.btn--warning-outline:hover > i, .btn--warning-outline:focus > i {
  color: #fff !important;
}
.btn--warning-outline:disabled {
  background-color: #fff !important;
  border-color: #ffaa50 !important;
  color: #ffaa50 !important;
}

.btn--danger {
  background-color: #fa6363 !important;
  color: #fff !important;
  transition: all 0.3s;
}
.btn--danger:hover, .btn--danger:focus {
  background-color: #fc9292 !important;
  color: #fff;
}
.btn--danger:disabled {
  background-color: #00458B !important;
  opacity: 0.4 !important;
}
.btn--danger-outline {
  background-color: transparent !important;
  box-shadow: none !important;
  color: #fa6363 !important;
  border: 1px solid #fa6363 !important;
  transition: all 0.3s;
}
.btn--danger-outline i {
  color: #fa6363 !important;
}
.btn--danger-outline:hover, .btn--danger-outline:focus {
  background-color: #fa6363 !important;
  color: #fff !important;
}
.btn--danger-outline:hover > i, .btn--danger-outline:focus > i {
  color: #fff !important;
}
.btn--danger-outline:disabled {
  background-color: #fff !important;
  border-color: #fc9292 !important;
  color: #fc9292 !important;
}

.btn--see-more {
  background-color: #3fd2c7 !important;
  border: 1px solid #3fd2c7 !important;
  box-shadow: none !important;
  color: #fff !important;
}
.btn--see-more:hover {
  background-color: #39B5AB !important;
  border: 1px solid #39B5AB !important;
}

/* ==========================================================================
   #HELPER
   ========================================================================== */
/**
 * Utilities classes are prefixed with a `u--`.
 */
.u--vh, .u--screen-reader-text {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  overflow: hidden;
  margin: -1px;
  padding: 0;
  position: absolute;
  white-space: nowrap;
}

.u--invisible {
  visibility: hidden;
}

.u--cf:after {
  content: "" !important;
  display: block !important;
  clear: both !important;
}

.u--float--left {
  float: left;
}
.u--float--right {
  float: right;
}
.u--float--clear {
  clear: both;
}

.u--text-align--left {
  text-align: left;
}
.u--text-align--center {
  text-align: center;
}
.u--text-align--right {
  text-align: right;
}

.u--vertical-align--top {
  vertical-align: top;
}
.u--vertical-align--middle {
  vertical-align: middle;
}
.u--vertical-align--bottom {
  vertical-align: bottom;
}

.u--list--bare {
  list-style: none;
  margin-left: 0;
}
.u--list--bare ul, .u--list--bare ol {
  list-style: none;
}

.u--list--inline {
  list-style: none;
  margin-left: 0;
}
.u--list--inline li {
  display: inline-block;
}

.u--circle {
  border-radius: 50%;
}

.u--display--table {
  display: table;
}

.u--display--table-cell {
  display: table-cell;
}

.u--display--block {
  display: block;
}

.u--display--inline {
  display: inline;
}

.u--display--inline-block {
  display: inline-block;
}

.u--display--flex {
  display: flex;
}

.u--flex-column {
  flex-direction: column;
}

.u--flex-row {
  flex-direction: row;
}

.u--justify-content-end {
  justify-content: flex-end;
}

.u--justify-content-start {
  justify-content: flex-start;
}

.u--justify-content-center {
  justify-content: center;
}

.u--align-items-end {
  align-items: flex-end;
}

.u--align-items-start {
  align-items: flex-start;
}

.u--align-items-center {
  align-items: center;
}

.pl-0 {
  padding-left: 0 !important;
}

.pr-0 {
  padding-right: 0 !important;
}

.pt-0 {
  padding-top: 0 !important;
}

.pb-0 {
  padding-bottom: 0 !important;
}

.pt-s {
  padding-top: 1.25rem;
}

.ml-0 {
  margin-left: 0 !important;
}

.mr-0 {
  margin-right: 0 !important;
}

.mt-0 {
  margin-right: 0 !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.line-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line-height-2 {
  line-height: 2.3rem;
}

.text-primary-color {
  color: #00458b;
}

.text-secondary-color {
  color: #99ddff;
}

.text-highlight-color {
  color: #3fd2c7;
}

.text-black-color {
  color: #212429;
}

.text-font-black-color {
  color: #495057;
}

.text-drak-gray-color {
  color: #5b5b5b;
}

.text-secondary-gray-color {
  color: #acb5bd;
}

.text-light-gray-color {
  color: #f8f9fa;
}